wiki1m_for_simcse.txt
__pycache__
wiki_new1.txt
wiki_new2.txt
wiki_new3.txt
wiki_datasets/wiki1/wiki1_1.txt
wiki_datasets/wiki1/wiki1_2.txt
wiki_datasets/wiki1/wiki1_3.txt
wiki_datasets/wiki3/wiki3_1.txt
wiki_datasets/wiki3/wiki3_2.txt
wiki_datasets/wiki3/wiki3_3.txt
wiki_datasets/wiki2/wiki2_1.txt
wiki_datasets/wiki2/wiki2_2.txt
wiki_datasets/wiki2/wiki2_3.txt
