wiki1m_for_simcse.txt
__pycache__
wiki_new1.txt
wiki_new2.txt
wiki_new3.txt
wiki_datasets/wiki1/wiki1_1.txt
wiki_datasets/wiki1/wiki1_2.txt
wiki_datasets/wiki1/wiki1_3.txt
wiki_datasets/wiki3/wiki3_1.txt
wiki_datasets/wiki3/wiki3_2.txt
wiki_datasets/wiki3/wiki3_3.txt
wiki_datasets/wiki2/wiki2_1.txt
wiki_datasets/wiki2/wiki2_2.txt
wiki_datasets/wiki2/wiki2_3.txt
prompts/parap_trunc5.json
out/pp150k0.log
out/cur.log
parap_trunc150k.json
parap_scores150k.json
out/pp150k1.log
out/pp150k2.log
out/pp150k3.log
out/pp150k4.log
out/pp150k5.log
out/pp150k6.log
out/pp150k7.log
out/pp150k8.log
out/pp150k9.log
paraphrases150k/badIndices1.json
paraphrases150k/badIndices2.json
paraphrases150k/badIndices3.json
paraphrases150k/badIndices4.json
paraphrases150k/badIndices5.json
paraphrases150k/badIndices6.json
paraphrases150k/badIndices7.json
paraphrases150k/badIndices8.json
paraphrases150k/badIndices9.json
paraphrases150k/parap_trunc150k0.json
paraphrases150k/parap_trunc150k1.json
paraphrases150k/parap_trunc150k2.json
paraphrases150k/parap_trunc150k3.json
paraphrases150k/parap_trunc150k4.json
paraphrases150k/parap_trunc150k5.json
paraphrases150k/parap_trunc150k6.json
paraphrases150k/parap_trunc150k7.json
paraphrases150k/parap_trunc150k8.json
paraphrases150k/parap_trunc150k9.json
